@charset "utf-8";

/* Box Sizing Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
/* Responsive Images Reset */
img {
    max-width: 100%;
    height: auto;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Abril Fatface', cursive; */

body {
    margin: 0;
}

main, footer {
    padding: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1em;
    margin: 0; 
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.5em;
    padding: 10px 0 0 0;
}

/* Navigation Bar */
header {
    background-color: rgb(226, 89, 89);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Abril Fatface', cursive;
    display: block;
    width: 100%;
    text-align: right;
}

header h1 {
    letter-spacing: 0.2em;
    font-size: 45px;
    margin: 0;
    padding: 0 10px 4px;
}

header ul {
    list-style: none;
    letter-spacing: 0.5em;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

header nav {
    display: none;
    width: 100%;
}

.show header nav {
    display: block;
}

.nav-button {
    font-size: 2.3em;
    background-color: rgb(226, 89, 89);
    border: none;
    color: white;
    display: block;
    height: 50px;
    line-height: 1;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 18px;
    outline: 0;
    border: none;
}

.sr-only {
    display: none;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
    background-color: rgb(243, 146, 146);
}

.hamburger-icon {
    display: block;
}

/* Banner image */
.banner img {
    max-width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    background-color: rgb(252, 191, 191);
    margin-top: 75px;
}

/* Main copy */
.main-copy {
    max-width: 800px;
    margin: auto;
}

.main-copy h1 {
    font-size: 2.5em;
}

.main-copy p {
    margin-bottom: 30px;
}


/* Articles */
.row {
    max-width: 1125px;
    margin: 0 auto;
}

.row h1 {
    font-size: 1.7em;
    margin-top: 5px;
}

.row p {
    font-size: 16px;
}

.three-col {
    display: block;
    box-shadow: 3px 3px 3px rgb(241, 241, 241);
    padding: 20px;
    margin-bottom: 30px;
    border: 0.5px solid rgb(241, 241, 241);
}

.three-col:hover {
    box-shadow: 3px 3px 3px rgb(192, 192, 192);
}

.row a {
    text-decoration: none;
    color: black;
}

/* Footer */
footer {
    padding-top: 0;
    margin: 20px 0 30px 0;
}

footer p {
    padding: 0;
    font-size: 12px;
    text-align: center;
}


@media (min-width: 900px) {
    .banner img {
        max-width: 900px;
    }
    .banner {
        margin-top: 122px;
    }

    header nav {
        display: block;
    }
    header ul {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;
        max-width: 900px;
        margin: auto;
    }
    .nav-button {
        display: none;
    }
    header {
        justify-content: center;
    }
}

@media (min-width: 620px) {
    .row {
        display: flex;
        justify-content: space-between;
    }
    .three-col {
        width: 32%;
    }
}