@charset "utf-8";

/* Box Sizing Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
/* Responsive Images Reset */
img {
    max-width: 100%;
    height: auto;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Abril Fatface', cursive; */

header img {
    /* Set rules to fill background */
    min-height: 472px;
    min-width: 1920px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }


body {
  background-image: url("../images/background-alpaca.png");
}

.position {
  position: relative;
}

header h1 {
  position: absolute;
  left: 50%;
  top: 200px;
  font-family: 'Abril Fatface', cursive;
  font-size: 9em;
  color:white;
  letter-spacing: 0.1em;
  padding-left: 20px;
  transform: translate(-50%, -50%);
  }

header ul {
    position: absolute;
    top: 500px;
    left: 50%;
    list-style: none;
    justify-content: center;
    padding: 0;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    transform: translate(-50%, -50%);
        }

header a {
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
    color: white;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}

header a:hover {
  text-shadow: 4px 4px rgb(218, 139, 139);
}
  
@media (min-width: 900px) {
  header ul {
    display: flex;
    top: 420px;
    left: 50%;
  }
}

